# Ignore bundler config.
/.bundle
/vendor/bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore uploaded files in development
/storage/*
!/storage/.keep

/node_modules
/yarn-error.log

/public/assets
.byebug_history

# Ignore master key for decrypting credentials and more.
/config/master.key

# Additional files to exclude
/.idea
*.rbc
.rspec
/log
/tmp
/public/system
/coverage/
/spec/tmp
*.orig
rerun.txt
.rvmrc
.powenv
.DS_Store
**.swp
*.old
*.jar
xerial*.*
**.orig


